Payment remainder agent.json
{
  "name": "Payment remainder agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -48
      ],
      "id": "2cfb4634-af3b-41d2-a26a-d1903473007f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RyOl-MEnHfjCnS6Epn6uzZmmtu3zlNTDXnV1rtKWT9U",
          "mode": "list",
          "cachedResultName": "Students_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RyOl-MEnHfjCnS6Epn6uzZmmtu3zlNTDXnV1rtKWT9U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RyOl-MEnHfjCnS6Epn6uzZmmtu3zlNTDXnV1rtKWT9U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -48
      ],
      "id": "85387d87-e17f-4676-be17-9aa2d19f29bb",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cTZFFDvkIJHuJLmE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get today's date in yyyy-mm-dd format\nconst today = new Date().toISOString().split('T')[0];\n\n// Filter items where Due Date matches today\nreturn items.filter(item => {\n  return item.json[\"DUE DATE\"] === today;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -48
      ],
      "id": "7c9ca777-c84a-4ee6-8879-5e69607abf12",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EMAIL }}",
        "subject": "Payment remainder !!",
        "emailType": "text",
        "message": "=Hi  {{ $json.NAME }} ,\nThis is a remainder that your fee due is today {{ $json['DUE DATE'] }} . Please make the payment at the earliest convenience.  \nRegards,\nAccounts Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        288,
        -48
      ],
      "id": "31a48b4d-a988-4bbd-a427-b8e476056858",
      "name": "Send a message",
      "webhookId": "8c8339f4-cec0-41e0-b420-35722f3271d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "aheXTtnfURskBHRn",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1448bd11-c6df-485c-8b27-489cdf74f9be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d4a7c9932301525b99dfb4176e00efbcfe08fc3543579bbab965972f820eb2b"
  },
  "id": "qD4NCVEf6MmRq6kG",
  "tags": [
    {
      "name": "Operations",
      "id": "9gbmECY5Cb1H7rA5",
      "updatedAt": "2026-03-20T06:21:36.468Z",
      "createdAt": "2026-03-20T06:21:36.468Z"
    }
  ]
}